<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.group46">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Consulting101"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.group46.DetailActivity"></activity>
        <activity android:name="com.example.group46.DetailFragment" />
        <activity android:name="com.example.group46.CompanyActivity"/>
        <activity android:name="com.example.group46.ResultMain" />
        <activity android:name="com.example.group46.QuizMain" />
        <activity android:name="com.example.group46.LearnAbout" />
        <activity android:name=".FrameworkMain" />
        <activity android:name="com.example.group46.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>